:root {
  --primary-color: #ee4d2d;
  --primary-color-rgba: rgb(238, 77, 45);
  --border-color: #dbdbdb;
  --white-color: #fff;
  --black-color: #000;
  --text-color: #333;
  --header-height: 120px;
  --navbar-height: 34px;
  --text-large: 1.8rem;
  --text-medium: 1.6rem;
  --text-small: 1.4rem;
  --header-sort-bar-height: 46px;
  --header-with-search-height: calc(var(var(--header-height)-var(var(--navbar-height))));
}

* {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  line-height: 1.6rem;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

/* Responsive */

.grid__row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -5px;
  margin-right: -5px;
}

/* Test */
.grid__column-2 {
  padding-left: 5px;
  padding-right: 5px;
  width: 16.6667%;
}

.grid__column-10 {
  padding-left: 5px;
  padding-right: 5px;
  width: 83.3334%;
}

.grid__column-2-4 {
  padding-left: 5px;
  padding-right: 5px;
  width: 20%;
}

/* Animation */
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes growth {
  from {
    transform: scale(var(--growth-from));
  }

  to {
    transform: scale(var(--growth-to));
  }
}

/* Modal */
.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  animation: fadeIn linear 0.5s;
}

.modal__overplay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal__body {
  --growth-from: 0.9;
  --growth-to: 1;
  margin: auto;
  position: relative;
  z-index: 1;
  animation: growth linear 0.1s;
}

/* Button */
.btn {
  background-color: var(--white-color);
  min-width: 80px;
  height: 36px;
  text-decoration: none;
  border: none;
  border-radius: 3px;
  font-size: 1.5rem;
  padding: 0 12px;
  outline: none;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  line-height: 1.6rem;
}

.btn--size-s {
  height: 32px;
  font-size: 1.2rem;
  padding: 0 8px;
  border: 1px solid var(--border-color);
}

.btn.btn--normal:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.btn.btn--primary {
  background-color: var(--primary-color);
  color: var(--white-color);
}

.btn.btn--disable {
  cursor: default;
  background-color: #999;
  color: #ccc;
}