/* Header chung */
.nav a {
  color: #3D4246;
  font-weight: bold;
}

.nav a:hover {
  border-bottom: 0.5px solid #666;
  animation: fadeIn ease-in 0.3s;
}

.nav-bar__custom-position {
  transform: translate(20%, 12%);

}

.nav-bar__custom-position-selector {
  transform: translateY(-12%);
}

.header_menu {
  position: fixed;
  background-color: #F1F1F1;
  margin-bottom: 0;
  z-index: 999;
  top:0;
  left: 0;
  right: 0;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
  padding:10px 0;
}

/* Header chung */


/* Menu Cap 2 */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-item {
  /* padding: 12px 81px; */
  border-bottom: 1px solid #ccc;

}

.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
  padding-left: 0;
  list-style: none;
  margin-top: 10px;
  background-color: rgba(32, 32, 32, 0.65);
}

.dropdown-content::before {
  content: "";
  height: 34px;
  width: 178px;
  display: block;

  position: absolute;
  right: 0px;
  top: -29px;
}

.dropdown:hover .dropdown-content {
  display: block;
  animation: fadeIn ease-in .6s;
}

.dropdown-content a:hover {
  background-color: rgba(32, 32, 32, 0.85);
  cursor: pointer;

}

.dropdown-content a {
  color: #f0f0f0;
  font-weight: bold;
  text-decoration: none;
  display: block;
  padding: 11px 54px;

}

/* Menu Cap 2 */

/* Selector search */
.nav__selector-search {
  position: relative;
}

.nav__selector-search-content::before {
  content: "";
  height: 34px;
  width: 48px;
  display: block;
  /* background-color: #3D4246; */
  position: absolute;
  right: 0px;
  top: -26px;
}

.nav__selector-search-content {
  position: absolute;
  display: none;
  margin-top: 10px;
  padding: 10px 10px;
  background-color: rgba(0, 0, 0, 0.15);
  border-radius: 3px;
  right: 10%;
}

.nav__selector-search-form-control {
  display: flex;
}

.nav__selector-search-input {
  font-size: 18px;
  border: 0.5px solid #ccc;
  border-radius: 3px;
}

.nav__selector-search-input:hover {
  outline: none;

}

.nav__selector-search:hover .nav__selector-search-content {
  display: block;
  animation: fadeIn ease-in .3s;
}

.nav__selector-search-btn {
  font-size: 16px;
  border: 0.5px solid #CCC;
  margin-left: -1px;
}

.nav__selector-search-btn:hover {
  background-color: rgba(0, 0, 0, 0.15);
  color: white;
}

/* Selector search */



/* Selector bag */
.nav__selector-bag {
  position: relative;
}

.nav__selector-bag-number {
  position: absolute;
  color: white;
  left: 21px;
  top: 21px;
  z-index: 3;
  font-size: 18px;
}

/* Selector bag */


/* Silde */
.slide-wrapper {
  padding: 0;
  z-index: 0;
}

/* Silde */

.font-weight-bold {
  font-weight: bold;
  margin-top: 80px;
  letter-spacing: 1px;
}

/* Card item product */
.card__product {
  padding: 40px 0 60px 0;
}

.card__product-img-top {
  max-height: 450px;
  height: auto;
  object-fit: cover;
  position: relative;
}

.card__product-heading {

  color: #666;
  text-align: center;
}

.card__product-text {
  text-align: center;
}

/* Badges product */
.badges__product-list {
  position: absolute;
  list-style: none;
  padding-left: 0;
  margin: 0;
  top: 40px;
  display: flex;
}

.badges__product-item {
  background-color: rgba(0, 0, 0, 0.85);
  padding: 2px 4px;
  text-align: left;
  color: white;
  display: block;
  margin-left: 4px;
}

/* Badges product */

/* Card item product */


/* Goi y cho ban */
.recommend-link {
  margin-left: 30%;
  text-decoration: none;
  color: #222;
  border: 1px solid #666;
  text-align: center;
  padding: 10px 34px;

}

.recommend-link:hover {
  cursor: pointer;
  background-color: #ccc;
  -webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;
  text-decoration: none;
  color: #222;
}

/* Goi y cho ban */

/* Banner Home 1 */
.banner__home-product {
  position: relative;
  margin-top: 8px;
  padding-top: 39%;
  object-fit: cover;
  max-height: 625px;
  width: 100%;
  overflow: hidden;
  margin: auto;
  border-radius: 2px;
  background: url("/assets/img/banner_product/section_banner_1.jpg") center/cover no-repeat;
}

.banner__home-product-heading {
  position: absolute;
  left: 40%;
  border: 0.1px solid #444;
  padding: 10px 15px;
  background: rgba(0, 0, 0, 0.85);
  color: white;
  transform: translateY(-900%);
}

.banner__home-product-heading:hover {
  cursor: pointer;
  background-color: rgb(226, 218, 218);
  -webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;
  text-decoration: none;
  color: #222;
}

/* Banner Home 1 */

/* Banner Home 2 */
.banner__home-product-2 {
  position: relative;
  margin-top: 8px;
  padding-top: 39%;
  object-fit: cover;
  max-height: 625px;
  width: 100%;
  overflow: hidden;
  margin: auto;
  border-radius: 2px;
  background: url("/assets/img/banner_product/section_banner_2.jpg") center/cover no-repeat;
}

.banner__home-product-heading-2 {
  position: absolute;
  left: 40%;
  border: 0px solid #444;
  padding: 10px 15px;
  background: rgba(0, 0, 0, 0.85);
  color: white;
  transform: translateY(-900%);
}

.banner__home-product-heading-2:hover {
  cursor: pointer;
  background-color: rgb(226, 218, 218);
  -webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;
  text-decoration: none;
  color: #222;
}

/* Banner Home 2 */

/* Banner Home 3 */
.banner__home-product-3 {
  position: relative;
  margin-top: 8px;
  padding-top: 39%;
  object-fit: cover;
  max-height: 625px;
  width: 100%;
  overflow: hidden;
  margin: auto;
  border-radius: 2px;
  background: url("/assets/img/banner_product/section_banner_3.jpg") center/cover no-repeat;
}

.banner__home-product-heading-3 {
  position: absolute;
  left: 40%;
  border: 0px solid #444;
  padding: 10px 15px;
  background: rgba(0, 0, 0, 0.85);
  color: white;
  transform: translateY(-900%);
}

.banner__home-product-heading-3:hover {
  cursor: pointer;
  background-color: rgb(226, 218, 218);
  -webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;
  text-decoration: none;
  color: #222;
}

/* Banner Home 3 */

/* HOME BRAND */

.home__brand-logo {

  width: 247.5px;
  margin-right: 60px;
}

.home__brand-logo:nth-child(2) {
  transform: translateY(-50%);
}

/* HOME BRAND */

/* HOTLINE */
.container__contact {
  display: flex;
  height: 72px;
  background-color: #f1f1f1;
  align-items: center;
  margin-top: 16px;
}

.container__contact-icon {
  margin: auto 16px;
  font-size: 18px;
  transform: translateY(-27%);
}

.container__contact-heading {
  font-size: 18px;
}

.container__contact-heading span {
  color: red;
  font-weight: bold;
}

/* HOTLINE */

/* FOOTER */
.footer__heading {
  font-weight: 400;
}

.footer__heading:hover {
  border-bottom: 0.5px solid #666;
  width: 80%;
}

/* list */
.footer__list-contact {
  padding-left: 0;
  margin: 0;
  list-style: none;
}

.footer__item-content {
  display: flex;
  align-items: center;
}

.footer__item-content-icon {
  font-size: var(--text-large);
  text-align: center;
  margin: 0 8px;
}

.footer__item-link:hover {
  color: var(--primary-color);
}

/*  */
/* FOOTER */
.footer__coppy-right {
  text-align: center;
}

/* Footer social */

.footer__social-list {
  list-style: none;
  padding-left: 0;
  display: flex;
  justify-content: space-around;
  transform: translateX(-10%);
}

.footer__social-item:first {
  margin-top: -4px;

}

.footer__social-link {
  display: block;
  text-decoration: none;

  border-radius: 50%;
  border: 1px solid #000;
  padding: 9px 15px;
}

.footer__social-icon {
  font-size: 20px;
  color: #666;
}

.footer__social-link:hover {
  cursor: pointer;
  background-color: rgb(226, 218, 218);
  -webkit-transition: background-color .5s ease-out;
  -moz-transition: background-color .5s ease-out;
  -o-transition: background-color .5s ease-out;
  transition: background-color .5s ease-out;
  text-decoration: none;
  color: #222;
}

/* Footer social */


/* ACCOUNT */
.container__account-login-table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 72px;
}

.container__account-login-name {
  color: var(--text-color);
  font-size: var(--text-small);
  font-weight: 400;

}

.container__account-login-heading {
  color: var(--text-color);
  font-size: 3rem;
  font-weight: 500;
  margin: 64px 0 0 0;
}

.container__account-login-table td,
.container__account-login-table th {
  border: 1px solid #ddd;
  padding: 8px;
}

.container__account-login-table th {
  font-size: var(--text-small);
  color: var(--text-color);
  background-color: #f1f1f1;
  text-align: left;
}

.container__account-login-table td {
  font-size: var(--text-small);
  color: var(--text-color);
}

.container__account-item-link {
  padding: 16px 10px;
  font-size: var(--text-medium);
  color: var(--text-color);
  text-decoration: none;
  border: 1px solid #ccc;
  display: block;
  text-align: center;
  transform: translateY(17px);
  text-decoration: none;
  color: #555;
}

.container__account-item-link:hover {
  background-color: #ccc;
  text-decoration: none;
  color: #000;
}

/* Button Sign In */
.btn__signIn {
  color: #666;
}

.btn__signIn:hover {
  background-color: #333;
  color: white;
  -webkit-transition: background-color .7s ease-out;
  -moz-transition: background-color .7s ease-out;
  -o-transition: background-color .7s ease-out;
  transition: background-color .7s ease-out;
  text-decoration: none;
  cursor: pointer;
}

/* About */
.about__slide-wrapper {
  transform: translateX(26%);
}

.about__img-slide {
  object-fit: cover;
  max-width: 545px;
  max-height: 580px;
}

/* About */
/* Lien HE */
.conttact__wrapper-address {
  transform: translateY(100%);

}

/* Tool Bar product */
.nav>li>a:focus,
.nav>li>a:hover {
  text-decoration: none;
  background-color: transparent !important;
}

.nav a:hover {
  border-bottom: 0.5px solid #666;
  /* background-color: transparent !important; */
  animation: fadeIn ease-in 0s;
}



.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
  z-index: 3;
  color: #fff;
  cursor: default;
  background-color: #222;
  border-color: #ccc;
}

.pagination>li>a,
.pagination>li>span {
  position: relative;
  float: left;
  padding: 10px 16.1px;
  margin-left: -1px;
  line-height: 1.42857143;
  color: #666;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd;
}

/* Tool Bar product */

/* Detail Product */
.card__detail-product-img-top {
  max-height: 750px;
  height: auto;
  object-fit: cover;
}

.card__detail-product-list {
  list-style: none;
  display: flex;
  margin: 16px 0;
}

.card__detail-product-item {
  border: 1px solid #ccc;
  margin-left: 10px;
}

.card__detail-product-img {
  object-fit: cover;
  max-width: 84px;
  max-height: 105px;
}

.card__detail-product-item--active {
  border: 1px solid #000;
}

/* Detail Product */
/* Group btn */
.card__detail-btn-list {
  display: flex;
  justify-content: center;
  padding-left: 0;
  list-style: none;
  padding-top: 12px;
}

.card__detail-btn-item {
  /* border: 1px solid #ccc;
  padding: 6.5px 36.1px;
  border-radius: 3px;
  color: #666; */

}



.card__detail-btn-item:nth-child(2) {
  margin: 0 16px;
}

.card__detail-btn-item-link {
  text-decoration: none;
  display: block;
  color: #666;
  text-align: center;

  border: 1px solid #ccc;
  padding: 6.5px 36.1px;
  border-radius: 3px;
  position: relative;
}

.card__detail-btn-item-link:hover {
  background-color: #ccc;
  text-decoration: none;
  color: #000;
}

.card__detail-btn-item-link--active {
  border: 1px solid #000;
}

.card__detail-btn-item-link--active .card__detail-btn-check-img {
  /* border: 1px solid #000; */
  display: block;
}

.card__detail-btn-check-img {
  position: absolute;
  right: 0;
  bottom: 0;
  display: none;
}

/* Group btn */
.card__detail-btn-addCart {
  display: block;
  text-decoration: none;
  color: #444;
  font-size: 13px;
  margin: 16px 0;
  border: 1px solid #444;
  width: 50%;
  padding: 9px 0;
  transform: translateX(51%);
}

.card__detail-btn-addCart span {
  text-align: center;
  margin: auto 0;
}

.card__detail-btn-MuaNgay {
  display: block;
  text-decoration: none;
  color: #f1f1f1;
  font-size: 13px;
  background-color: #000;
  border: 1px solid #444;
  width: 50%;
  padding: 9px 0;
  transform: translateX(51%);
  margin-bottom: 16px;
}

.card__detail-btn-MuaNgay:hover {
  color: #f1f1f1;
  background-color: rgba(36, 36, 36, 0.75);
  -webkit-transition: background-color .2s ease-out;
  -moz-transition: background-color .2s ease-out;
  -o-transition: background-color .2s ease-out;
  transition: background-color .2s ease-out;
}

.card__detail-btn-addCart:hover {
  background-color: rgba(0, 0, 0, 0.15);
  -webkit-transition: background-color .2s ease-out;
  -moz-transition: background-color .2s ease-out;
  -o-transition: background-color .2s ease-out;
  transition: background-color .2s ease-out;
}

.detail__list-content {
  text-align: left;
  font-weight: 100;
}


/* Gio hang */
.table-cart {
  border-color: #eee;
  border-bottom: 1px solid #eee;
}

.table.table-cart tr {
  border-color: #eee;
}
table td{
  transform: translateY(30%);
  color:#666;
  font-size: 16px;
  font-weight:100;
}
.table.table-cart th {
  font-size: 14px;
  color: #333;
  text-align: left;
  font-weight: 400;
  border-color: #eee;
  padding: 10px 0;
}
table td:first-child{
  transform: translateY(0%);
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #ddd;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

.cartItem .product {
  width: 44%;
}

.cart__img{
  object-fit: cover;
  max-width: 150px;
  height:auto;
  max-height: 188px ;
}
.cart__detail-wrap{
line-height:1.4;
}


.container__cart-table-link--remove{
  color:#666;
}
.cart__product-num-wrapper{

}
/* Gio hang */

.cart__btn {
  display: block;
  text-decoration: none;
  color: #444;
  font-size: 13px;
  margin: 16px 0;
  border: 1px solid #444;
  width: 25%;
  padding: 9px 0;
  background-color: rgba(0, 0, 0, 0.85);
  color: white;
}
.cart__btn:hover{
  background-color: rgba(0, 0, 0, 0.15);
  color: #444;
  -webkit-transition: background-color .2s ease-out;
  -moz-transition: background-color .2s ease-out;
  -o-transition: background-color .2s ease-out;
  transition: background-color .2s ease-out;
}
/* total */
.cart__total-wrapper{
  display:flex;
  justify-content:space-around;
  border: 1px solid #ccc;
  border-radius:3px;
  padding: 12.5px 0;
}
.cart__total_payment{
  display: block;
  height:100px;
  background-color:#FAFAFA;
  border: 1px solid #ccc;
}
.cart__btn-total{
  margin-left: 30%;
  border: 1px solid #ccc;
  background-color: rgba(0, 0, 0, 0.85);
  color: white;
  transform: translateY(82%);
}
.cart__btn-total:hover{
  background-color: rgba(0, 0, 0, 0.45);
  color: #000;
  -webkit-transition: background-color .2s ease-out;
  -moz-transition: background-color .2s ease-out;
  -o-transition: background-color .2s ease-out;
  transition: background-color .2s ease-out;
}